$primary-color: #015790;

header {
  background-color: $primary-color;
}

.header-title {
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }
  h3 {
    color: white;
  }
}

.header-search {
  height: 100%;
  display: flex;
  input {
    position: relative;
    margin: 8px 0;
    width: 100%;
    border-radius: 50px;
    padding-left: 30px;
  }
  :focus {
    outline: none;
    border-color: #a6dcff;
  }
  .icon {
    position: absolute;
    top: 14px;
    left: 10px;
    z-index: 2;
    font-size: 16px;
    color: black;
    border-radius: 50px;
    font-weight: 600;
  }
<<<<<<< HEAD
=======
  :hover {
    color: #015790;
  }
>>>>>>> 8884e583758db037b04ea12cf573805c0e2662b2
}

.header-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  padding: 16px 10px;
  label {
    color: white;
    padding-left: 6px;
  }
}

.list-item {
  list-style: none;
  padding: 0 20px;
  li {
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    &:hover {
      background-color: #e6e6e6;
    }
  }

  a {
    color: black;
    font-weight: 600;
    padding: 10px;
    padding-left: 8px;
    &:hover {
      color: #1294eb;
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      height: 30px;
      width: 120px;
    }
  }
}

<<<<<<< HEAD
.content-wrapper {
  padding-left: 10px;
}

=======
>>>>>>> 8884e583758db037b04ea12cf573805c0e2662b2
th .ant-table-cell {
  background-color: $primary-color;
}

.content-right {
  font-weight: 600;
  color: #1294eb;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.content-right-btn {
  color: white;
  background-color: #1294eb;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  padding: 0 20px;
  p {
    padding-left: 4px;
  }
  &:hover {
    cursor: pointer;
    background-color: #015790;
  }
}
