$primary-color: #ff8f18;

.App {
  text-align: center;
  height: 100vh;
  position: relative;
}

.register {
  height: 100%;
}

.register-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 100px;
  }
  title {
    color: $primary-color;
  }
}

.register-right {
  background-image: url("../img/20160815110312-toa-nha-da-nang11.jpg");
  background-repeat: no-repeat;
  background-position: 0% 70%;
  background-size: 100% 120%;
}

.btn-id {
  width: "100%";
  background-color: "#ff8f18";
  padding: "5px";
}
